ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  color: #434455;
}
button {
  cursor: pointer;
  font-family: inherit;
}
body h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
body h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
body p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  margin-right: 76px;
}

.header-logo .part-logo {
  color: #2e2f42;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
}
.contacts {
  font-style: normal;
}
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;

  margin-bottom: 48px;
  max-width: 496px;
}
.main-button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  min-height: 56px;
}
.main-button:hover,
.main-button:focus {
  background: #404bbf;
}
.benefits .container {
  display: flex;
  flex-direction: row;

  margin-bottom: 0;

  justify-content: space-between;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100% - 72px) / 4);
}
.benefits-tittle {
  margin-bottom: 8px;
}
.team-section {
  background: #f4f4fd;
  text-align: center;
  text-transform: capitalize;
}
.team-section .sub-tittle {
  margin-bottom: 72px;
}

.team {
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}
.memeber-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.member-tittle {
  margin-bottom: 8px;
}

.members {
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portf-section .sub-tittle {
  margin-bottom: 72px;
}
.portf-item h3 {
  margin-bottom: 8px;
}
.portf-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.page-footer {
  background: #2e2f42;
}
.footer-logo .part-logo {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
